@import url("https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

@import "tailwindcss";

html,
body {
  width: 100dvw;
  overflow: hidden;
  height: 100dvh;
  background-image: url("/images/wallpaper.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@theme {
  --font-georama: "Georama", sans-serif;
  --font-roboto: "Roboto Mono", monospace;
  --breakpoint-3xl: 1920px;
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility col-center {
  @apply flex flex-col items-center justify-center;
}

@utility abs-center {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

@layer base {
  main {
    @apply w-dvw h-dvh overflow-hidden;
  }

 
}

